/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";
body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
	
	
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2d1966;
    color: #fff;
    transition: all 0.7s;
	
}


#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:  #2d1966;
	border-bottom: 1px solid #fff; /* Boder */
	margin-bottom: 5px;
}

#sidebar ul.components {
    padding: 15px 15px ; 
	
    	
        
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

#sidebar ul li i {       /* Icons design */
    padding: 15px;
    
}

#sidebar ul li a:hover {
    color: #2d1966;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #2d1966;
	
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
	
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #2d1966;
}



a.download {
    background: #fff;
    color: #2d1966;
}

a.article,
a.article:hover {
    background: #2d1966 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.7s;
	background: #e0e0eb;
	
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}